<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/public/client.css" rel="stylesheet"></link>
  </head>
  <body>
  	<h1><a href="https://github.com/balupton/nowpad">NowPad</a> by <a href="https://github.com/balupton">balupton</a></h1>
    <%- body %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/nowjs/now.js"></script>
    <script src="/nowpad/nowpad.js"></script>
    <script src="/public/client.js"></script>
  </body>
</html>
