<textarea id="doc" style="height:400px;width:100%"></textarea>
<button id="delayIncrease">Increase the Sync Delay</button><button id="delayDecrease">Decrease the Sync Delay</button>
<script type="text/javascript" src="public/client.js"></script>
