<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/diff_match_patch.js"></script>
    <script type="text/javascript" src="public/common.js"></script>
    <script src="/nowjs/now.js"></script>
    <link href="public/client.css" rel="stylesheet"></link>
  </head>
  <body>
  	<h1><a href="https://github.com/balupton/nowpad">NowPad</a> by <a href="https://github.com/balupton">balupton</a></h1>
    <%- body %>
  </body>
</html>
