<p>Pad One / Document One<p>
<div class="pad">
	<pre id="pad1a" class="editor"></pre>
</div>

<p>Pad Two / Document One</p>
<div class="pad">
	<pre id="pad1b" class="editor"></pre>
</div>

<p>Pad Three / Document Three</p>
<div class="pad">
	<pre id="pad2" class="editor"></pre>
</div>